@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(font/MaterialIcons-Regular.woff2) format('woff2'),
         url(MaterialIcons-Regular.woff) format('woff'),
         url(font/MaterialIcons-Regular.ttf) format('truetype');
}

* {
    transition: 0.3s;
}
body {
    transition: none;
}
.navbar {
    transition: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}
#home{
    margin-top: -5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    line-height: 0;
}
.navbar-nav li>a {
    /* color: white !important; */
    font-weight: 600;
}
.navbar-nav li>a:hover {
    color: white !important;
    /* font-weight: 600; */
}
.navbar-nav li>a i {
    transition: none;
}
.imgg{
    margin: 15px 0px 0px 0px;
}
.nav-pills > li > a.active {
    background-color: #398791 !important;
}
.hothot .card{
    width: 157px;
}
.hothot img {
    width: 155px;
}
.hothot p {
    text-align: center;
}
.hothot>div{
    padding: 0;
}
.hothot {
    padding: 15px;
}
.nav-pills a.nav-link{
    color: black;
    border-radius: 0px;
}
.thuhang {
    font-weight: bold;
    padding-top: 10px;
    width: 30px;
    height: 50px;
    /* background-color: aquamarine; */
    /* display: block; */
    float: left;
    /* text-align: center; */
    /* vertical-align: bottom; */
}
.tenbaihat {
    width: 200px;
    /* white-space: nowrap; */
    /* float: left; */
    /* display: inline-block; */
    /* float: left; */
    font-weight: bold;
}
.tencasi {
    /* display: block; */
    width: 200px;
    /* word-wrap: break-word; */
    /* float: left; */
    /* float: none; */
    clear: both;
}
.list-group-item {
    padding: 5px !important;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.anhds {
    float: left;
    margin-right: 10px;
    width: 65px;
}
.card {
    margin-bottom: 15px;
}
.dropdown-item:hover {
    background-color: #398791 !important;
    color: white !important;
}
.dropdown-toggle::after {
    zoom: 80%;
}
.dropdown,.dropdown-menu {
    transition: none !important;
}
/* tip */
[class*="tips-"]::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 10px;
    height: 10px;
    /* border: 1px solid rgba(0,0,0,.15); */
    border-top: 1px solid rgba(0,0,0,.15);
    border-left: 1px solid rgba(0,0,0,.15);
    /* padding: 1px; */
    background-clip: padding-box; /* cho border ra ngoài */
}
.tips-bxh:after {
    transform: rotate(45deg);
    top: -5.9px;
    left: 20px;
}
.tips-cd:after {
    transform: rotate(45deg);
    top: -5.9px;
    left: 27px;
}
.tips-dn:after {
    transform: rotate(45deg);
    top: -5.9px;
    left: 129px;
}
@media screen and (max-width: 767px) {
    [class*="tips-"]::after {
        transform: rotate(45deg);
        top: 37.2px;
        left: 13px;
    }
    .imginfo {
        display: none;
    }
    .card-columns {
        column-count: 1!important;
    }
    .khungthongtin .card-body {
        padding: 10px!important;
        line-height: 1.3;
    }
    .myaudioplayer .row {
        padding-top: 5px !important;
    }
}
/* end tip */
/* #carouselId .list-inline {
    white-space:nowrap;
    overflow-x:auto;
} */

/* slide */
#carouselId .carousel-indicators {
    position: static;
    left: initial;
    /* widt h: initial; */
    /* margin-left: initial; */
}

#carouselId .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}
.carousel-margin {
    margin-bottom: 5px;
}
.carousel-indicators {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
/* end slide */

#t1, #t2, #t3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
h4 {
    color: #164954 !important;
}
/* khungbaihat */
.khungbaihat .card-footer {
    padding: 0;
    background-color: #fafafa;
    /* height: 34px; */
}
.khungbaihat .card-body {
    /* padding: 5px; */
    text-align: center;
    background-color: #cae6e1;
}
h4.card-title {
    margin-bottom: 3px;
}
/* end .khungbaihat */

.imginfo {
    width: 100px !important;
    margin: 15px;
}
.khungthongtin .card-body {
    padding: 5px;
    line-height: 1.3;
    /* height: 50px; */
    /* overflow: hidden;  */
    /* text-overflow: ellipsis;  */
    /* white-space: nowrap; */
    /* word-wrap: break-word; */
}
.tttest {
    margin-left: -30px!important;
}

.khungloibaihat .card-header {
    padding: 0;
}
.khungloibaihat {
    border-radius: 0px !important;
}
.lyrics {
    width: 100%!important;
    background-color: #398791!important;
    border: none!important;
    border-radius: 0px!important;
    outline: none!important;
    box-shadow: none !important;
}
@media screen and (min-width:767px){
    .card-columns {
        column-count: 2!important;
    }
}

.listbaihat .card-body {
    padding: 0;
}
.listbaihat table {
    margin-bottom: 0px;
}
.thutubaihat {
    width: 50px;
    padding-left: 15px !important;
}
.nextprev {
    height: 32px;
    border-radius: 0px!important;
    width: 32px;
    background-color: #fafafa!important;
}
.nextprev img {
    margin-top: -12px;
    margin-left: -10px;
}
#player .btn:focus {
    box-shadow: none;
}

/* table stripped */
.listbaihat .table-striped tbody tr:nth-of-type(odd) {
    background-color: #cae6e1;
}
.listbaihat tr:hover {
    background-color: #a2c2bd!important;
    cursor: pointer;
}

/* hover play */
.hoverplay {
    /* display: none; */
    /* opacity: 0; */
    position: absolute;
    width: 50px !important;
    left: 34%;
    top: 30%;
    /* animation: fadeOut 0.5s; */
    /* fill: #fafafa; */
    /* filter: invert(200%); */
}
.card-header {
    padding: 0!important;
}

.hothot .imglink:hover .anhanh {
    opacity: 0.9;
}
.hothot .imglink {
    background-color: #000000;
    border-radius: 4px;
}
.hothot a:hover .hoverplay {
    opacity: 1!important;
    display: block;
    animation: zoomIn 0.2s;
}
.anhanh {
    opacity: 1;
}
@keyframes spin {
    to {transform:rotate(359deg);}
}

.spin {
    animation: spin 1000ms linear infinite;
}
.dangphat {
    opacity: 0;
    animation: spin 1700ms linear infinite;
}

/* audio player */
.myaudioplayer {
    /* padding-right: 10px; */
    /* display: block; */
    /* background-color: #164954; */
    /* height: 65px; */
    width: 100%;
    margin-bottom: -10px!important;
}
.myaudioplayer label {
    margin-bottom: 0px!important;
    color: #505050;
    padding-top: 2px;
}
.myaudioplayer .list-inline-item {
    margin-left: 0!important;
    margin-right: 0!important;
}
.myaudioplayer .row {
    margin-left: 0px !important;
    /* margin-right: 0px !important; */
}
.btn-group {
    margin-top: -10px;
    /* border: 1px solid #398791; */
}
.playpause {
    width: 20px;
    height: 30px;
}
#btnPlay {
    /* height: 30px; */
    /* width: 30px; */
    background-position: center!important;
    /* border: none; */
    outline: 0px;
    cursor: pointer;
    background-size: 70% 70%;
    /* box-shadow: none !important; */
    
}
.playplay {
    /* content: 'a'; */
    /* margin-left: 3px; */
    /* background-size: 70%!important; */
    background: url(../image/svg/play-arrow.svg) no-repeat;
}
.pause {
    /* margin-left: 3px; */
    /* background-size: 70%!important; */
    background: url(../image/svg/pause-button.svg) no-repeat;
}
#BlblTime,#Bendtime {
    /* cursor: pointer; */
    box-shadow: none!important;
}
#lblTime,#endtime {
    cursor: pointer;

}
.myaudioplayer .btn {
    box-shadow: none!important;
    cursor: pointer;
    padding: 0px 5px 0px 5px!important;
    height: 36px;
    /* transition: 0.5s; */
}
.myaudioplayer .material-icons {
    line-height: 1.5!important;
    color: #505050;
    /* animation: fadeOut 0.5s; */
    
}
.myaudioplayer .form-control {
    border: none !important;
    box-shadow: none !important;
}
.myaudioplayer .popover {
    display: none;
}

/* material ico */


.material-icons {
    font-family: 'Material Icons'!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-size: 25px!important;  /* Preferred icon size */
    display: inline-block;
    line-height: 0;
    text-transform: none!important;
    letter-spacing: normal!important;
    word-wrap: normal!important;
    white-space: nowrap!important;
    direction: ltr!important;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased!important;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility!important;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale!important;

    /* Support for IE. */
    font-feature-settings: 'liga'!important;
    
}

/* dang nhap */
.input-group-text {
    /* width: 150px; */
}
div.error {
    position: absolute;
    background: rgba(220,53,69,.8);
    color: white;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    margin-top: 0.1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: .875rem;
    /* margin-left: 50px; */
    right: 3%;
  }
input.error {
    border: 1px solid rgba(220,53,69,.8)!important;
    background-color: white!important;
}
div.valid {
    position: absolute;
    background: rgba(40,167,69,.8);
    color: white;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    margin-top: 0.1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: .875rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #398791;
    border-radius: 4px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #398791;
    border-radius: 50%;
}
#dnn input:focus {
    border-color: rgba(57, 135, 145,0.8);
    box-shadow: 0px 0px 0px 4px rgba(57, 135, 145, 0.356);
    /* outline: 0 none; */
}
#dnn input,button {
    border-radius: 0px!important;
}
.lmk {
    color: black!important;
}

#dkk input:focus {
    border-color: rgba(57, 135, 145,0.8);
    box-shadow: 0px 0px 0px 4px rgba(57, 135, 145, 0.356);
    /* outline: 0 none; */
}
#dkk input,button {
    border-radius: 0px!important;
}

/* Bóng */
.bong {
    box-shadow: 0px 2px 7px -1px rgba(128, 128, 128, 0.719);
}
.popover-body {
    text-align: center;
}