@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    transition: 0.2s;
}
#home{
    margin-top: -5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    line-height: 0;
}
.navbar-nav li>a {
    /* color: white !important; */
    font-weight: 600;
}
.navbar-nav li>a:hover {
    color: white !important;
    /* font-weight: 600; */
}
.imgg{
    margin: 15px 0px 0px 0px;
}
.nav-pills > li > a.active {
    background-color: #398791 !important;
}
.hothot img {
    width: 145px;
}
.hothot p {
    text-align: center;
}
.hothot>div{
    padding: 0;
}
.hothot {
    padding: 15px;
}
.nav-pills a.nav-link{
    color: black;
    border-radius: 0px;
}
.thuhang {
    font-weight: bold;
    padding-top: 10px;
    width: 30px;
    height: 50px;
    /* background-color: aquamarine; */
    /* display: block; */
    float: left;
    /* text-align: center; */
    /* vertical-align: bottom; */
}
.tenbaihat {
    display: block;
    float: left;
    font-weight: bold;
}
.tencasi {
    /* float: none; */
    clear: both;
}
.list-group-item {
    padding: 5px !important;
}
.anhds {
    float: left;
    margin-right: 10px;
    width: 65px;
}
.card {
    margin-bottom: 15px;
}
.dropdown-divider {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}
.dropdown-item:hover {
    background-color: #398791 !important;
    color: white !important;
}
/* tip */
/* [class*="dropdownsss-menu-tip-"]::after {
  content: '';
  position: absolute;
  width: .7rem;
  height: .5rem;
  background-color: white;  */
  /* For SCSS use $dropdown-bg */
  /* border: solid 1px rgba(0, 0, 0, .15);  */
  /* For SCSS use $dropdown-bg */
  /* border-bottom: none;
  border-left: none; */
/* } */

/* North */
/* .dropdown-menu-tip-n::after {
  top: calc(-.25rem - 1px);
  left: calc(50% - .25rem);
  transform: rotate(-45deg);
} */
.dropdown-toggle::after {
    zoom: 80%;
}
/* Northeast */
.dropdown-menu-tip-ne-dn::after {
    content: '';
    position: absolute;
    width: .7rem;
    height: .5rem;
    background-color: white;
    top: calc(-.25rem - -1px);
    right: 0.6rem;
    transform: rotate(-45deg);
}
.dropdown-menu-tip-ne-qh::after {
    content: '';
    position: absolute;
    width: .7rem;
    height: .5rem;
    background-color: white;
    top: calc(-.25rem - -1px);
    right: 2.3rem;
    transform: rotate(-45deg);
}
/* Northwest */
/* .dropdown-menu-tip-nw::after {
  top: calc(-.25rem - 1px);
  left: 1rem;
  transform: rotate(-45deg);
} */

/* South */
/* .dropdown-menu-tip-s::after {
  left: calc(50% - .25rem);
  bottom: calc(-.25rem - 1px);
  transform: rotate(135deg);
} */

/* Southeast */
/* .dropdown-menu-tip-se::after {
  right: 1rem;
  bottom: calc(-.25rem - 1px);
  transform: rotate(135deg);
} */

/* Southwest */
/* .dropdown-menu-tip-sw::after {
  left: 1rem;
  bottom: calc(-.25rem - 1px);
  transform: rotate(135deg);
} */
/* endtip */